// App styles
$primary-color: #000000;
$underline-color: #ff8e8e;


#__nuxt {
  background-color: $primary-color;
}
body, a {
  font-family: Mabry pro, sans-serif;
  color: #e2e2e2;
  text-decoration: none;
}

.footer-container, .body-component-wrapper, .header-container, body {
  position: relative;
}

.header-container {
  background-color: $primary-color;
  padding: 20px;
  font-size: clamp(12px, 2vw, 20px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  font-weight: 700;
}

#three-container {
  max-width: 100%;
  position: relative;
}

.footer-container {
  background-color: $primary-color;
  padding: 20px;
  font-size: clamp(12px, 2vw, 20px);
  display: grid;
  justify-items: center;
  font-weight: 700;
}

.trademark-text a {
  font-size: 0.8rem;
  color: #797979;
  &:hover {
    transition: ease-in-out 0.3s;
    color: #ff8e8e;
  }
}

a {
  position: relative;
  text-decoration: none;
  padding: 5px;
  &:hover {
    transition: ease-in-out 0.3s;
    color: #ff8e8e;
  }
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $underline-color;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

.body-component-wrapper {
  display: grid;
  justify-items: center;
}

#about {
  font-size: clamp(40px, 2vw, 55px);
}